* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
  margin: 0 auto;
  max-width: 800px;
}

.settings {
  border-right: 1px dashed #ccc;
  width: 350px;
}

.settings h2 {
  margin-bottom: 1rem;
}

.settings ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.container {
  position: relative;
  margin: 20px;
  width: 300px;
  height: 200px;
}

.container label {
  top: -25px;
  left: 0px;
  position: absolute;
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, font-size 200ms cubic-bezier(0.0, 0, 0.2, 1);
}

.lableTop {
  color: #1976d2;
  font-size: 12px;
}

.lableBottom {
  color: black;
  font-size: 17px;
  transform: translate(0, 21px) scale(1);
  z-index: -1;
}

.main-form{
  position: relative;
  width: 300px;
  height: 25px;
  border-bottom: 1px solid black;
}


.main-form svg {
  top: calc(50% - 12px);
  color: rgba(0, 0, 0, 0.54);
  right: 0;
  position: absolute;
  pointer-events: none;;
  width: 20px;
  height: 20px;
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.rotate-arrow {
  transform: rotate(180deg);
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.main-form .form-text {
  position: relative;
  width: 300px;
}

.container ul {
  height: 140px;
  width: 300px;
  position: absolute;
  top: 24px;
  left: 0;
  overflow: auto;
  list-style: none;
  background: #fff;
  scrollbar-width: none;
  /* transform: scale(1); */
  transition: all 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  -webkit-box-shadow: -1px 25px 28px 1px rgba(176,176,176,1);
  -moz-box-shadow: -1px 25px 28px 1px rgba(176,176,176,1);
  box-shadow: -1px 25px 28px 1px rgba(176,176,176,1);
}

.container ul::-webkit-scrollbar,
.container ul::firefox {
  display: none;
}

.container ul li {
  height: 28px;
}
.container ul li:hover {
  color: #fff;
  background-color: #cecece;
}

.list-item-active {
  color:aquamarine
}

.hidden-ul {
  transition: all 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  transform: scale(0);
}

